body {
    background-color: rgb(160, 66, 66);
}

.header {
    background-color: rgb(43, 42, 39);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: -20%;
    width: 100%;
}

.logo{
    margin-left: 1%;

}

.logo-oval {
    width: 250px;

}

.navbar {
    background-color: rgb(160, 66, 66);
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    margin-top: 30px;
    margin-right: 1%;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 21px;
}

.navbar a.hov {
  text-decoration: none;
  background-color: white;
  color: rgb(236, 186, 48);
}


.navbar a.active {
    text-decoration: none;
    background-color: rgb(236, 186, 48);
    color: white;
}

.header-img {
    background-image: url("IMG/sandwich.png");
    margin: 2% 3% 0% 3%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    background-position-x: right;
    }

.h1home {
    color: rgb(236, 186, 48);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 7px dotted rgb(168, 165, 165);
    border-radius: 50px;
    padding: 40;
    font-size: 40px;
    text-align: center;
}

.p1 {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
}

.p1contact {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
}

/* styling the contact page */
.h1contact {
    color: rgb(236, 186, 48);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

input[type=text], select, textarea {
    background-color: lightgrey;
    width: 100%;
    padding: 12px;
    border: 3px solid rgb(168, 165, 165);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  
  input[type=submit] {
    background-color: rgb(43, 42, 39);
    color: white;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0px auto;
    display:block;
  }
 
  input[type=submit]:hover {
    background-color: white;
    color: rgb(43, 42, 39);
    text-align: center;    
  }

  .container {
    border-radius: 5px;
    background-color: lightgray;
    padding: 30px;
    margin-top: -15px;
    margin-left: 200px;
    margin-right: 200px;
  }

  /* styling the Reservations page */

  .sectionnav {
    height: 100vh;
    background: rgb(160, 66, 66);
    color: rgba(0, 0, 0, 0.5);
  }
  
  /* Navigation on Reservations page */
  
  .fill {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 10px 0;
    box-shadow: 0px 5px 0px #dedede;
  }
  
  .fill ul {
    list-style: none;
    text-align: center;
  }
  
  .fill ul li {
    display: inline-block;
  }

  .fill ul li a {
    display: block;
    padding: 3px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }

  .fill ul li a,
  .fill ul li a:after,
  .fill ul li a:before {
    transition: all .5s;
  }

  .fill ul li a:hover {
    color: #555;
  }
  
  .fill ul li a {
    position: relative;
  }
  
  .fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
  }
  
  
  .fill ul li a {
    transition: all 2s;
  }
  
  .fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  
  .fill ul li a:hover {
    color: #fff;
    z-index: 1;
  }
  
  .fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }

  /* Keyframes */
  @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #333;
    }
  }
  
  /* Keyframes */
  @-webkit-keyframes circle {
    0% {
      width: 1px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 1px;
      z-index: -1;
      background: #eee;
      border-radius: 100%;
    }
    100% {
      background: #aaa;
      height: 5000%;
      width: 5000%;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0;
    }
  }